	*{
		margin: 0px;
		padding: 0px;
		list-style: none;
		text-decoration: none;
	}
	.one{
		width: 872px;
		height: 26px;
		margin: 0px auto;
	}
	.two{
		width: 872px;
		height: 28px;
		margin: 0px auto;
	}
	.three{
		width: 812px;
		height: 38px;
		margin: 0px auto;
	}	
	p,input{
		margin-top: 10px;
	}
	.one p{
		float: right;
		font-size: 12px;
        color: #666;
        font-family: "微软雅黑";
	}
	.two form{
		width: 178px;
		height: 68px;
		display: inline-block;
		float: right;
		position: relative;
	}
	input{
		float: right;
		height: 26px;
		width: 175px;
		line-height: 26px;
		color: #CCCCCC;
    	outline: none;		
	}
	input::-webkit-input-placeholder {
        color: #aab2bd;
        font-size: 12px;
        text-indent: 1em;
    }
	.two .sousuo img{
		width: 25px;
		margin-top: 1px;
		margin-left: 3px;
	}
	.sousuo{
		width: 32px;
		height: 28px;
		background-color:#999 ;
		position: absolute;
		top: 11px;
		right: 0px;
	}	
	.two>img{
		width: 42px;
		float: left;
	}
    .list1{
      margin-left: 50px;
      margin-bottom: 20px;

    }
    .list1 li{
    	float: left;
    	margin: 0px 30px;
    	font-size: 16px;
        font-family: "微软雅黑";    	
    }
    .list1 li a{
    	color: #000;
    }
    .list1 li:nth-of-type(1) a{
    	color: red;
    }
    .nav1{
    	width: 1349px;
    	height: 450px;
    	overflow: hidden;
    	position: relative;
    }
    .nav1 ul{
    	width: 5396px;
    	height: 450px;
    	position: absolute;
    	
    }
    .nav1 ul li{
    	width: 1349px;
    	height: 450px; 
    	float: left;   	
    }
    .nav1 img{
        width: 100%;
        height: 450px;
        display: block; 
    }
    .nav1 .span1{
    	color: #f9f3f3;
    	font-size: 42px;
    	line-height: 34px;
    	width: 41px;
    	position: absolute;
    	left: 19%;
    	top: 51%;
    	margin-top: -25px;
    	border-radius: 50%;
    	height: 42px;
    	border: none;
    	background-color: #ece1cd;
    	cursor: pointer;

        }
    .nav1 .span2{
    	color: #f9f3f3;
    	font-size: 42px;
    	line-height: 34px;
    	text-align: center;    	
    	width: 40px;
    	position: absolute;
    	right: 19%;
    	top: 51%;
    	margin-top: -25px;
    	border-radius: 50%;
    	height: 40px;
    	background-color: #ece1cd;
    	cursor: pointer;
    	

        }            
     .a{
      	width: 700px;
      	height: 400px;
      	margin:0 auto;
      	overflow: hidden;
      	position:relative;
      }  
    hr{
/*    	align:center;*/
    	width: 230px;
    	margin-top: 10px;
    	color: #999;

    }
    .hr1{
    	float: right;
    	position: absolute;
    	right: 0px;
    	top: 0px;
    }
    .hr2{
    	float: left;
    	position: absolute;
    	left: 0px;
    	top: 0px;
    }
    .a .hr1{
    	top: 50px;
    }
    .a .hr2{
    	top: 50px;
    }    
    h2{
        margin-top: 50px;
        font-size: 16px;
        font-family: '微软雅黑';
        color: #666;
        text-align: center;
    }
    h4{
    	margin-top: 15px;
        font-family: '微软雅黑';
        color: #999;
      	text-align: center;   	
    }
    .a p{
    	line-height: 30px;
    	margin-top: 82px;
    	font-size: 14px;
    	color: #333;
    }
    .a p a{
    	position: absolute;
    	right: 0px;
    	top: 364px;
    	/*color: #447364;*/
    	line-height: 30px;
    	/*margin-top: 82px;*/
    	font-size: 14px;
    	color: #333;    	
    }
    .b{
      	width: 700px;
/*       	height: 600px; */
      	margin:0 auto;
/*      	overflow: hidden;*/
      	position:relative;
      }
    .list2{
    	width: 700px;
    	height: 332px;
    } 
    .list2 li{
          float: right;
          margin:10px 10px;
    }
   #hong{
   	    position: absolute;
   	    right: 744px;
   	    top: 96px;
    	font-size: 18px;
    	font-family: "楷体";
        font-weight: bold;
    	
    }
    #shan{
    	position: absolute;
    	left: 338px;
    	top: 96px;
    	font-size: 18px;
    	width: 18px;
        font-family: "楷体";
        font-weight: bold;
        

    }
    #you{
    	position: absolute;
    	left: 710px;
    	top: 96px;
    	font-size: 18px;
    	width:18px;
        font-family: "楷体";
        font-weight: bold;
    }
    .i{
    	width: 280px;
    	height: 180px;
    	border: 2px solid #999899;
    	overflow:hidden; 
    	margin-right: 50px;
    	margin-top: 100px;
    }
    .img1{
    	  position: absolute;
          right:550px;
          top: 120px;
    }
    .img2{
    	  position: absolute;
          left: 200px;
          top: 120px;
    }
    .img3{
    	  position: absolute;
          left:580px;
          top: 120px;
    }

    .list2 img{
    	width: 300px;
    }
    .c{
      	width: 700px;
/*       	height: 600px; */
      	margin:0 auto;
/*      	overflow: hidden;*/
      	position:relative;
      }
    .m{
    	width: 280px;
    	height: 240px;
    	border-radius:50%;
    	overflow:hidden; 
    	margin-right: 50px;
    	margin-top: 30px;
    }      
    .img4{
    	  position: absolute;
          right:550px;
          top: 120px;
    }
    .img5{
    	  position: absolute;
          left: 200px;
          top: 120px;
    }
    .img6{
    	  position: absolute;
          left:580px;
          top: 120px;
    }
    .c div{
    	width: 280px;
    	height: 240px;
    	border-radius:50%;    	
        border: 2px solid #999899;
        background: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }
    .c div p{
    	color: #fff;
    	font-size: 20px;
    	text-align: center;
    	line-height: 240px;
    }
    #one{
        position: absolute;
    	left:-181px;
        top: 148px;	
    }
    #two{
        position: absolute;
    	left:198px;
        top: 148px;	
    }
    #three{
        position: absolute;
    	left:578px;
        top: 148px;	
    }        
    .list3{
    	width: 700px;
    	height: 350px;
    }
    .list3 li{
    	width: 700px;
    	height: 250px;
    }
    .hr3{
    	width: 1044px;
    	position: absolute;
    	top: 450px;
    	left: -190px;

    }
     .d div{
      	width: 700px;
      	height: 400px;
      	margin:0 auto;
      	overflow: hidden;
      	position:relative;
      	display: none;
      }
     .d .current{
      	display: block;
      }
    .d h4{
    	margin-top: 62px;
        font-family: '微软雅黑';
        color: #333;
      	text-align: center;   	
    }
    .d p{
    	line-height: 30px;
    	margin-top: 16px;
    	font-size: 14px;
    	color: #333;
    }
    .d p a{
    	position: absolute;
    	right: 0px;
    	top: 364px;
    	line-height: 30px;
    	font-size: 14px;
    	color: #333;    	
    }    
    hr{
    	width: 230px;
    	margin-top: 10px;
    	color: #999;

    }
    .e .hr1{
    	float: right;
    	position: absolute;
    	right: 0px;
    	top: 50px;
    }
    .e .hr2{
    	float: left;
    	position: absolute;
    	left: 0px;
    	top: 50px;
    }
     .e{
      	width: 700px;
      	height: 400px;
      	margin:0 auto;
      	overflow: hidden;
      	position:relative;
      }
    .e h2{
        margin-top: 50px;
        font-size: 16px;
        font-family: '微软雅黑';
        color: #666;
        text-align: center;
    }
    .e h4{
    	margin-top: 30px;
        font-family: '微软雅黑';
        color: #999;
      	text-align: center;   	
    }
    .wuxu{
    	width: 630px;
    	height: 200px;
    	margin: 50px auto 0px;

    }
    .wuxu div{
    	float: left;
    	line-height: 50px;
    	margin-left: 95px;
    }

    .footer1{
    	width: 100%;
    	background-color:#cccccc; 
    	overflow: hidden;
    }
    .footer2{
    	width: 450px;
    	height:20px; 
        margin: 0px 500px;
        margin-top: 10px;
        font-size: 8px;
    }
    .footer1 ul{
    	width: 500px;
    	height: 40px;
        margin: 0px 485px;    	
    	font-size: 8px;
    }
    .footer1 ul li{
    	float: left;

    }




